---
# Playbook to install PostgreSQL
#
- name: Provision PostgreSQL
  hosts: "{{ postgresql_group_name }}:!disabled"
  become: true
  gather_facts: true
  roles:
    - firewalld
    - etcd
    - postgresql_ha
