all:
  hosts:
    worker: 
      ansible_host: "{{ hostvars['worker'].ansible_host }}"
      internal_address: "{{ hostvars['worker'].ansible_host }}"
  children:
    statsd:
      hosts:
        worker
    graphite:
      hosts:
        worker
    grafana:
      hosts:
        worker
    schedulers:
      hosts:
        worker
    executors:
      hosts:
        worker
    epmons:
      hosts:
        worker
    postgres:
      hosts:
        worker
