[Unit]
Description=Apimon Executor container
Wants=syslog.service

[Service]
Restart=always
TimeoutSec=600s
User={{ executor_os_user }}
Group={{ executor_os_group }}
EnvironmentFile=/etc/apimon/env_executor

ExecStartPre=-{{ container_runtime }} system migrate
ExecStartPre=-{{ container_runtime }} pull ${EXECUTOR_IMAGE}
ExecStartPre=-{{ container_runtime }} rm "{{ executor_container_name }}"

ExecStart={{ container_runtime }} run \
  --name "{{ executor_container_name }}" \
  --hostname={{ ansible_hostname }} \
  --network host \
{% if container_command == 'podman' %}
  --log-opt=path=/dev/null \
{% endif %}
  -v {{ executor_config_dir }}:/etc/apimon:ro \
  -v apimon_executor_lib:/var/lib/apimon:rw,Z \
  -v apimon_executor_home:/home/apimon:rw,Z \
  --tmpfs /tmp:rw \
  ${EXECUTOR_IMAGE} executor --config {{ executor_config_dir}}/{{ executor_config_file_name }}

ExecReload={{ container_runtime }} kill -s SIGHUP {{ executor_container_name }}

ExecStop={{ container_runtime }} stop -t 10 {{ executor_container_name }}

[Install]
WantedBy=multi-user.target
